
@{
    ViewBag.Title = "XuatExcel";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<h4 class="hi"><i class="fa-solid fa-money-check"></i>Xuất Excel thành công</h4>

<p>
    <i class="fa-regular fa-square-caret-left"></i> @Html.ActionLink("Quay lại", "Index")
</p>
